$primary: #50843D;
$secondary: #DFE1DC; 
$success:  #edf0ea;   
$info:  #EBEBEB;          
$light: #ffffff;    
$dark: #2f2e2d;       

@import "../node_modules/bootstrap/scss/bootstrap.scss";

hr{
    color: #50843D;
}