@import './variables.scss';

* {
    font-family: $openSans;

    &::selection {
        color: white;
        background: $main;
    }
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(60px);
	}
}

body {
    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(151, 151, 151);
        border-radius: 6px;
        border: 4px solid rgba(0,0,0,0);
        background-clip: content-box;
        min-width: 32px;
        min-height: 32px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(0,0,0,0);
    }
}



.cta {
    background: none;
    color: $cta;
    border: none;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    transition: color 0.25s ease;
    cursor: pointer;
    padding: 0 5px;
    
    img {
        height: 0.8rem;
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 0.25s ease;
        filter: $svgCta;
    }

    &:hover {
        color: $main;

        img {
            transform: translate(50%, -50%);
            filter: $svgMain;
        }
    }
}

// NAVIGATION
nav {
    background: transparent;
    transition: background 0.25s ease;

    &.scrolled {
        background: white;
    }
    ul {
        gap: 20px;
        &:hover {
            .navlink.current {
                a {
                    color: $navLink;
                }
                &::after {
                    right: 20px;
                    width: 0%;
                }
            }
        }
        
        li {
            position: relative;
            

            a {
                color: $navLink;
                font-size: 16px;
                font-weight: 700;
                transition: color 0.25s ease;
                padding: 0px;
            }

            &.navlink {
                &::after {
                    content: '';
                    position: absolute;
                    top: calc(100% + 3px);
                    right: 0;
                    width: 0;
                    height: 2px;
                    background: $main;
                    transition: width 0.25s ease;
                }

                &.current {
                    a {
                        color: $main;
                    }

                    &::after {
                        left: 0;
                        width: 100%;
                    }
                }

                &:hover {
                    a {
                        color: $main;
                    }

                    &::after {
                        left: 0;
                        width: 100%;
                    }

                    &.current {
                        a {
                            color: $main;
                        }

                        &::after {
                            left: 0;
                            width: 100%;
                        }
                    }
                } 
            }

            &.booking {
                margin-left: 30px;
            }
        }
    }
}




// HERO
#hero{
    background-image: url("../img/scott-webb-oRWRlTgBrPo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    padding-top:17%;
    height: 100vh;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: -1;
        opacity: 0.8;
    }
    
  

    h1{
        font-size: 6vw;
        font-family: $ptSerif;
        // font-weight: 700;


        // .nonBold {
        //     font-weight: 400;
        // }
    }


    // BOOTSTRAP CLASS 
    // .text-muted {
    //     color: $muted;
    //     font-weight: 700;
    //     width: 55rem;
    //     margin: auto;
    //     margin-bottom: 20px;
    // }

    .scroll {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        transition: all 0.25s ease;
        cursor: pointer;

        svg {
            height: 40px;
            #wheel {
                animation: scroll ease 2s infinite;
            }
        }

        &.hidden {
            opacity: 0;
        }
    }
}

//  media



// OMKRING 

// .erf-box {
//     -webkit-box-shadow: inset -1px 7px 14px -7px rgba(0,0,0,0.34); 
//     box-shadow: inset -1px 7px 14px -7px rgba(0,0,0,0.34);
// }

#omkring {
    .subheading,.heading {
        font-family: $ptSerif;

        &.heading {
            font-weight: 700;
        }
    }
}

#behandlinger {
    h2 {
        font-family: $ptSerif;
        font-weight: 700; 
    }
}


// KONTAKT

.contactForm {
    padding-top: 20px;

    .input {
        position: relative;
        width: 100%;
        height: max-content;

        .label {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            pointer-events: none;
            transition: transform 0.25s ease;
            color: gray;
        }

        &.area {
            .label {
                top: 20px;
            }
        }
    }

    .coll {
        display: flex;
        gap: 10px;
        width: 100%;
        
        &.name {
            margin-bottom: 30px;
        }

        input,textarea {
            position: relative;
            padding: 10px 15px;
            border-radius: 5px;
            border: none;
            width: 100%;
            -webkit-box-shadow: inset -1px 7px 14px -7px rgba(0,0,0,0.34); 
            box-shadow: inset -1px 7px 14px -7px rgba(0,0,0,0.34);

            &#firstname,&#email {
                margin-right: 20px;
            }

            &::after {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            &:not(:placeholder-shown),&:focus {
                & + .label {
                    transform: translateY(-25px) translateX(-15px);
                    top: 0;
                    color: black;
                }
            }
        }

        textarea {
            width: 100%;
        }
    }
}



.contactrow {
    display: flex;
    align-items: center;
    padding: 5px 0;

    .contacticon {
        height: 15px;
        filter: brightness(0);
        margin-right: 10px;

        &.mail {
            height: 17px;
        }
    }

    a {
        color: black;
        text-decoration: none;
        transition: color 0.15s ease;

        &:hover {
            color: $main;
        }
    }
}