@import './variables.scss';

#hero{
    background-image: url("../img/scott-webb-oRWRlTgBrPo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;

    position: relative;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: -1;
        opacity: 0.8;
    }
    
    .container {
        z-index: 3;
    }
}

nav {
    background: transparent;
    transition: background 0.25s ease;

    &.scrolled {
        background: white;
    }
    ul {
        gap: 20px;
        &:hover {
            .navlink.current {
                a {
                    color: $navLink;
                }
                &::after {
                    right: 20px;
                    width: 0%;
                }
            }
        }
        
        li {
            position: relative;
            

            a {
                color: $navLink;
                font-size: 16px;
                font-weight: 700;
                transition: color 0.25s ease;
                padding: 0px;
            }

            &.navlink {
                &::after {
                    content: '';
                    position: absolute;
                    top: calc(100% + 3px);
                    right: 0;
                    width: 0;
                    height: 2px;
                    background: $main;
                    transition: width 0.25s ease;
                }

                &.current {
                    a {
                        color: $main;
                    }

                    &::after {
                        left: 0;
                        width: 100%;
                    }
                }

                &:hover {
                    a {
                        color: $main;
                    }

                    &::after {
                        left: 0;
                        width: 100%;
                    }

                    &.current {
                        a {
                            color: $main;
                        }

                        &::after {
                            left: 0;
                            width: 100%;
                        }
                    }
                } 
            }

            &.booking {
                margin-left: 30px;
            }
        }
    }
}

.contactForm {
    padding-top: 20px;

    .input {
        position: relative;
        width: 100%;
        height: max-content;

        .label {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            pointer-events: none;
            transition: transform 0.25s ease;
            color: gray;
        }

        &.area {
            .label {
                top: 20px;
            }
        }
    }

    .coll {
        display: flex;
        gap: 10px;
        width: 100%;
        
        &.name {
            margin-bottom: 30px;
        }

        input,textarea {
            position: relative;
            padding: 10px 15px;
            border-radius: 5px;
            border: none;
            width: 100%;
            -webkit-box-shadow: inset -1px 7px 14px -7px rgba(0,0,0,0.34); 
            box-shadow: inset -1px 7px 14px -7px rgba(0,0,0,0.34);

            &#firstname,&#email {
                margin-right: 20px;
            }

            &::after {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            &:not(:placeholder-shown),&:focus {
                & + .label {
                    transform: translateY(-25px) translateX(-15px);
                    top: 0;
                    color: black;
                }
            }
        }

        textarea {
            width: 100%;
        }
    }
}