@import "./variables.scss";

.input {
    border: none;
    position: relative;

    input,
    textarea {
        background: $secondary;
        border: none;
        padding: 10px;
        font-size: 1rem;
        border-radius: 6px;
        color: $inputText;
        border: 2px solid transparent;
        transition: border-color 0.25s ease;
        width: 20rem;

        &.textarea {
            resize: none;
            height: 10rem;
            & + .label {
                top: 0;
                left: 0;
                transform: translate(10px, 10px);
            }
        }

        &:not(:placeholder-shown),
        &:focus {
            outline: none;

            & + .label {
                transform: translate(0px, -230%);
                font-size: 0.9rem;
                color: black;
            }

            &.textarea {
                & + .label {
                    transform: translate(0px, -100%);
                }
            }
        }

        &.error {
            border-color: $error;
        }

        &.correct {
            border-color: $main;
        }
    }

    .label {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translate(10px, -50%);
        color: $inputText;
        transition: all 0.15s;
        pointer-events: none;
    }
}
