@import "./variables.scss";

.treatmentPicker {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .card {
        width: 170px;
        height: 250px;
        border: 2px solid black;
        border-radius: $borderRadius;
        background: white;
        transition: all 0.25s ease;

        &.card-active {
            border-color: $main;
            box-shadow: 0px 0px 29px -11px rgba(0, 0, 0, 0.49);
            transform: scale(1.02);
        }
    }
}
